@charset "EUC-KR";
		*{
			text-decoration: none;
			list-style: none;
			margin: 0px;
			padding: 0px;
			color: #000;
			border-collapse: collapse;
			font-family: 'Noto Sans KR', sans-serif;
			box-sizing: border-box;
		}
		.jumbotron{
			height: 300px;
			position: relative;
		    z-index: 1;
			padding: 0;
			margin: 0;
		    padding-top: 15px;
		    background-attachment: fixed;
		}
		.jumbotron::before{
			content: "";
		    position: absolute;
		    z-index: -1;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)), url("../img/bg.jpg");
		    color: rgba(255,255,255,1);
			background-size: cover; 
			background-repeat: no-repeat;	
		    opacity: 0.7;
		    
		}
		
		#main{
			/*position: relative;
		    z-index: 1;
		    padding-top: 25px;
		    background-attachment: fixed;*/
		}
		#main::before{
			/*content: "";
		    position: absolute;
		    z-index: -1;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			width: 100%;
			height: 100%;
		
			background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), url("../img/bgpattern12.jpg");
			background-size: cover; 
			background-repeat: no-repeat;	
		    color: rgba(255,255,255,1);
		    opacity: 0.2;*/
		    
		}
		#nav {
			width: 135px;
			height: 35px;
			background: white;
			margin-right: 30px;
			float: right;
			border-radius: 10px;
		}
		#login-img, #sound-img {
			width: 35px;
			height: 35px;
			border-radius: 5px 0px 0px 5px;
			padding: 0;
		}
		
		#login-button, #mypage-button, #sound-button {
			margin: 0px;
			padding: 0px;
			border: none;
		}
		#login-button{
			font-weight: bold;
			width: 65px;
			height: 35px;
		}
		.header{
			text-align: center;		
		}
		#title {
			font-family: 'gothic';
			font-size: 50px;
			color: #E0C125;
			border-radius: 8px;
			text-align: center;
			font-weight: bold;
			letter-spacing: 4px;
			word-spacing: 3px;
			margin: 0;
			text-shadow: #fff 0.3rem 0.2rem 0.2rem;
			text-decoration: none;
		}
		
		/* .container{
			margin-top: 0px;
		} */
		.search {
			width: 500px;
			height: 50px;
			background-color: #fff;
			margin: 30px auto;
			border-radius: 150px;
			
		}
		.search>input{
			height: 50px;
		}
		
		#city {
			width: 100%;
			height: 500px;
		}
		#product {
			margin-top: 30px;
			width: 100%;
    		
		}
		
		#product>div:nth-child(n+7) {
			display: none;
		}
		
		#product>div {
			padding: 35px;
		}
		#footer {
			margin-top: 30px;
			width: 100%;
			height: 200px;
		}
		#adv{
			width: 300px;
		}
		
		#a{
			width: 300px;
		}
		
		img{
			width: 300px;
			height: 300px;
			padding: 20px;
			border-radius: 20%;
		}
		.slick-next:before{
			color: black !important;
			font-size: 25px !important;
		}
		
		.slick-prev:before{
			color: black !important;
			font-size: 25px !important;
		}
		.slick-track{
			height: 400px;
			margin-top: 50px;
		}
		.slick-center{
			transform: scale(1.2);
			padding: 10px 40px;
		}
		.slick-slide{
			text-align: center;
		}
		.slick-slide>img{
			width: 300px;
			height: 300px;
		}

		#product>img{
			margin: auto;
		}
		
		#product img:hover, .slick-slide>img:hover{
			cursor: pointer;
		}
		
		#mainImage{
			height: 300px;
			flex:2;
		}
		
		#subImage{
			height: 300px;
			flex:3;		
		}
		
		#mainImage>img{
			width: 100%;
			height: 100%;
			border-radius: 20px;
			padding: 10px;
		}
		
		#subImage>img{
			width: 50%;
			height: 50%;
			border-radius: 20px;
			padding: 10px;
		}
		
		h1 {
		  font-family: "Edu VIC WA NT Beginner", cursive;
		  font-optical-sizing: auto;
		  font-weight: bold;
		  font-style: normal;
		}
	
		.chart-container{
			width: 700px;
			height: 500px;
		}
		
		canvas{
			height: 500px;
		}
		
		
		#footer {
			width: 100%;
			height: 200px;
			background-color: #53C7B4;
			
		}
		#footer-logo {
			display: flex;
			justify-content: center;
		
		}
		#footer-img {
			width: 150px;
			height: 150px;
		}
		#footer>div>div>p {
			margin: 0px;
		}
