<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<insert id="registerMember" parameterType="member">
		INSERT
		INTO member(id, password, name, address)
		VALUES(#{id}, #{password}, #{name}, #{address})
	</insert>
	
	<select id="findAllMember" resultType="member">
		SELECT
		id, name, address
		FROM member
		ORDER BY name DESC 
	</select>
	
	<select id="getMember" parameterType="string" resultType="member">
		<!-- 아이디가 k로 시작하는 회원을 검색 like연산자와 와일드카드 %사용 -->
		SELECT
		id, name, address
		FROM member
		WHERE id LIKE CONCAT(#{VALUE}, '%')
		<!-- WHERE id LIKE "${VALUE}%" -->
	</select>
	
	<delete id="deleteMember" parameterType="string">
		<!-- 아이디가 mybatis인 회원을 삭제 -->
		DELETE
		FROM member
		WHERE id = #{VALUE}
	</delete>
</mapper>